{% extends 'base.html' %}
{% load wagtailimages_tags %}


{% block content %}
		{% image page.author.image width-250 as image %}
		{% image page.author.image width-250 format-webp as webp_image %}
	<div class="d-flex flex-column align-items-center">
		<picture>
			<source srcset="{{ webp_image.url }}" type="image/webp">
			<img class="rounded" src="{{ image.url }}" alt="{{ image.alt }}" />
		</picture>
		<div>
		<h1 class="mt-4">
			Hi, I'm <span>{{page.author.first_name }} {{ page.author.last_name}}</span>.
		</h1>
		<a href={{ page.author.github_url}}>@{{ page.author.github_username}}</a>
	</div>
		{% comment %} <p>Welcome to my headspace.</p> {% endcomment %}
</div>
{% endblock content%}